shamefully-hoist=true
strict-peer-dependencies=false
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=bcrypt
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=maplibre-gl
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=vue-demi
